### Makefile_dir.in for Disco ###

# This file contains machine-specific variables for building Disco.

#C Compiler
CC = mpicc

# Location of HDF5 Library
H55 = /usr/local

#Extra compiling/linking flags
LOCAL_CFLAGS =
LOCAL_LDFLAGS =
